@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4">گروه صنعتی سازه پیوند</h1>
        <br />
        <p> کاربرگرامی : سیستم در حال حاظر در دست بروزرسانی می باشد  .::.  <a href="http://webnext.ir" target="_blank"> اطلاعات بیشتر </a>.</p>
        <br />
        <a href="AdminPanel" class="btn" style="margin-bottom:10px; background-color:#D1ECF1; color:black; border-radius:5px;" target="_blank">ورود به پنل مدیریت</a>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core 5.0</a>.</p>

</div>
