<a class="dashboard-stat dashboard-stat-v2 green-steel" href="#">
    <div class="visual">
        <i class="fa fa-globe"></i>
    </div>
    <div class="details">
        <div class="number">
            <span data-counter="تعداد نظرات" data-value="0">0</span>
        </div>
        <div class="desc"> تعداد نظرات </div>
    </div>
</a>