<a class="dashboard-stat dashboard-stat-v2 green-steel" href="#">
    <div class="visual">
        <i class="fa fa-bar-chart-o"></i>
    </div>
    <div class="details">
        <div class="number">
            <span data-counter="تعداد دسته بندی ها" data-value="0">0</span>
        </div>
        <div class="desc"> تعداد دسته بندی ها </div>
    </div>
</a>