<div class="btn-group">
    <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown"
            data-hover="dropdown" data-close-others="true">
        <span class="hidden-sm hidden-xs">دسترسی سریع&nbsp;</span>
        <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="javascript:;">
                <i class="icon-docs"></i> سفارشات
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-user"></i> کاربران
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-refresh"></i> درخواست ها
            </a>
        </li>
        <li class="divider"> </li>
        <li>
            <a href="javascript:;">
                <i class="icon-anchor"></i> نظرات
                <span class="badge badge-success">4</span>
            </a>
        </li>
    </ul>
</div>