<a class="dashboard-stat dashboard-stat-v2 blue-steel" href="#">
    <div class="visual">
        <i class="fa fa-comments"></i>
    </div>
    <div class="details">
        <div class="number">
            <span data-counter="تعداد کاربران" data-value="0">0</span>
        </div>
        <div class="desc"> تعداد کاربران </div>
    </div>
</a>